.carousel {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stage {
  position: relative;
  width: 100vw;
  height: 580px;
  overflow: hidden;

  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.slot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:
    transform 420ms ease,
    filter 420ms ease,
    opacity 420ms ease;
  will-change: transform, filter, opacity;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}


.center {
  transform: translate(-50%, -50%) scale(1);
  filter: blur(0);
}

.left1 {
  transform: translate(calc(-50% - 450px), -50%) scale(1);
  filter: blur(0);
}

.right1 {
  transform: translate(calc(-50% + 450px), -50%) scale(1);
  filter: blur(0);
}

.left2 {
  transform: translate(calc(-50% - 900px), -50%) scale(0.914);
}

.right2 {
  transform: translate(calc(-50% + 900px), -50%) scale(0.914);
}


.controls {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 15px 40px rgba(153, 153, 153, 0.2);
  color: black;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 1024px) {
  .left1 {
    transform: translate(calc(-50% - 350px), -50%) scale(0.9);
  }

  .right1 {
    transform: translate(calc(-50% + 350px), -50%) scale(0.9);
  }

  .left2 {
    transform: translate(calc(-50% - 650px), -50%) scale(0.75);
  }

  .right2 {
    transform: translate(calc(-50% + 650px), -50%) scale(0.75);
  }
}

@media (max-width: 768px) {
  .stage {
    height: 500px;
  }

  .slot {
    width: 90vw;
    display: flex;
    justify-content: center;
  }

  .left1 {
    transform: translate(calc(-50% - 88vw), -50%) scale(0.85);
    opacity: 0.6;
    filter: blur(2px);
  }

  .right1 {
    transform: translate(calc(-50% + 88vw), -50%) scale(0.85);
    opacity: 0.6;
    filter: blur(2px);
  }

  .left2,
  .right2 {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    pointer-events: none;
  }

  .controls {
    margin-top: 30px;
  }
}