.section {
  padding: 100px 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding: 0 16px;
}

.title {
  font-size: 43px;
  line-height: 55px;
  color: #222222;
  text-align: center;
  margin-bottom: 70px;
}

.light {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}