.section {
  padding: 100px 0;
  background-color: #FFFFFF;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding: 0 16px;
}

.title {
  font-size: 43px;
  line-height: 55px;
  color: #222222;
  text-align: center;
  margin-bottom: 70px;
}

.light {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

@media (max-width: 768px) {
  .section {
    padding: 60px 0;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px;
  }
}